<header class="bw-tabs--header <% if (logo != null) { %>has-logo<% } %>">
	<% if (logo != null) { %><img src="<%= logo %>"/><% } %>
</header>
<div class="bw-tabs--pusher" />
<nav class="bw-tabs--navigation">
  <ul class="bw-tabs--items">
    <% _.each(tabs, function (tab) { %>
      <TabView key="<%= tab %>" />
    <% }); %>
  </ul>
</nav>

<div class="bw-tabs--panels">
  <PanelView key="<%= selection %>" />
</div>
