/*
 * Tabs
 * -------------------------------------------------- */


/* Variables
 * -------------------------------------------------- */

:root {

--tabs-width:                      210px;

--tabs-header-bg:                  var(--brand-primary, #0072c6);
--tabs-header-height:              48px;

--tabs-navigation-shadow:          0 0 1px 0px color(black alpha(25%));

--tabs-logo-margin-vertical:       8px;

--tabs-target-padding-vertical:    12px;
--tabs-target-padding-horizontal:  20px;

--tabs-content-padding-vertical:   20px;
--tabs-content-padding-horizontal: 30px;

--tabs-general-border:             #2F313A;

--tabs-level1-bg:                  #D4D8D9;
--tabs-level1-hover-bg:            color(var(--tabs-level1-bg) l(-3%));
--tabs-level1-color:               #555;
--tabs-level1-hover-color:         color(var(--tabs-level1-color) l(-20%));

--tabs-level2-bg:                  #E1E5E6;
--tabs-level2-hover-bg:            color(var(--tabs-level2-bg) l(-3%));
--tabs-level2-color:               #555;
--tabs-level2-hover-color:         color(var(--tabs-level2-color) l(-20%));

--tabs-level3-bg:                  #ECF0F1;
--tabs-level3-hover-bg:            color(var(--tabs-level3-bg) l(-3%));
--tabs-level3-color:               #555;
--tabs-level3-hover-color:         color(var(--tabs-level3-color) l(-20%));

}


/* Container
 * ------------------------- */

.bw-tabs {
  display: table;
}

/* Pusher
 * ------------------------- */

.bw-tabs--pusher {
  width: var(--tabs-width);
}


/* Navigation
 * ------------------------- */

.bw-tabs--navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 4;
  width: var(--tabs-width);
  overflow: scroll;
  background-color: var(--tabs-level1-bg);
  box-shadow: var(--tabs-navigation-shadow);
  border-left: var(--tabs-header-height) solid var(--tabs-general-border);
}

.bw-tabs--header {
  display: none;
}

.bw-tabs--header.has-logo {
  position: fixed;
  display: block; 
  left: 0;
  top: 0;
  height: var(--tabs-header-height);
  width: var(--tabs-header-height);
  overflow: hidden;
  text-align: center;
  background-color: var(--tabs-header-bg);
  z-index: 50;
}
.bw-tabs--header.has-logo img {
  width: 65%;
  margin: var(--tabs-logo-margin-vertical) 0;
  opacity: .3; 
}

.bw-tabs--items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.bw-tabs--target {
  display: block;
  padding: var(--tabs-target-padding-vertical) var(--tabs-target-padding-horizontal);
  font-weight: normal;
  color: var(--tabs-level1-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
  transition-property: color, background-color;
}

.bw-tabs--target:hover,
.bw-tabs--target:focus,
.bw-tabs--target:active {
  color: var(--tabs-level1-hover-color);
  text-decoration: none;
}

.bw-tabs--item.is-active .bw-tabs--target {
  color: var(--tabs-level1-hover-color);
  background-color: var(--tabs-level1-hover-bg);
}

/* Panels
 * ------------------------- */

.bw-tabs--panels {
  display: table-cell;
  width: 100%;
}

.bw-tabs--panel {
  display: block;
  width: 100%;
  min-height: 100vh;
  clear: fix;
}

.bw-tabs--panel.is-leaf {
  padding: var(--tabs-content-padding-vertical) var(--tabs-content-padding-horizontal);
}

.bw-tabs--panel.is-readable {
  background-color: var(--body-bg, white);
}

/* Nested tabs (level 2+)
 * ------------------------- */

.bw-tabs--panel .bw-tabs--navigation {
  z-index: 3;
  background-color: var(--tabs-level2-bg);
  border: none;
}

.bw-tabs--panel .bw-tabs--navigation .bw-tabs--target {
  color: var(--tabs-level2-color);
}

.bw-tabs--panel .bw-tabs--navigation .bw-tabs--target:hover,
.bw-tabs--panel .bw-tabs--navigation .bw-tabs--target:focus,
.bw-tabs--panel .bw-tabs--navigation .bw-tabs--target:active {
  color: var(--tabs-level2-hover-color);
}

.bw-tabs--panel .bw-tabs--navigation .bw-tabs--item.is-active .bw-tabs--target {
  color: var(--tabs-level2-hover-color);
  background-color: var(--tabs-level2-hover-bg);
}

/* Nested tabs (level 3+)
 * ------------------------- */

.bw-tabs--panel .bw-tabs--panel .bw-tabs--navigation {
  z-index: 2;
  background-color: var(--tabs-level3-bg);
  border: none;
}

.bw-tabs--panel .bw-tabs--panel .bw-tabs--navigation .bw-tabs--target {
  color: var(--tabs-level3-color);
}

.bw-tabs--panel .bw-tabs--panel .bw-tabs--navigation .bw-tabs--target:hover,
.bw-tabs--panel .bw-tabs--panel .bw-tabs--navigation .bw-tabs--target:focus,
.bw-tabs--panel .bw-tabs--panel .bw-tabs--navigation .bw-tabs--target:active {
  color: var(--tabs-level3-hover-color);
}

.bw-tabs--panel .bw-tabs--panel .bw-tabs--navigation .bw-tabs--item.is-active .bw-tabs--target {
  color: var(--tabs-level3-hover-color);
  background-color: var(--tabs-level3-hover-bg);
}
